---
    title: WDYT?
---

<html lang="en">
 <head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
  <link rel="stylesheet" href="https://use.typekit.net/rsm0tdh.css">
  <link rel="stylesheet" type="text/css" href="/static/style/style.css" />
 </head>
 <body>
    <div class="wrapper">
        <header>
            <div class="logo">
                {% include images/wdyt-bands %}
            </div>
            <nav class="roboto-thin">
                <ol>
                    <li><a href="">About</a></li>
                    <li><a href="">Submit a topic</a></li>
                </ol>
            </nav>
        </header>
        {% include components/post %}
    </div>
    {% include script/logo-animation %}
 </body>
</html>