<div class="post-image">
    <img src="/static/images/posts/stephanie-stimac/stephanie-stimac-w1200.jpg" />
</div>
<div class="post-info">
    <h2 class="post-title roboto-black">cocktails &amp; controls</h2>
    <p class="post-date roboto-thin">Coming in May 2020</p>
    <p class="post-excerpt roboto">Stephanie Stimac takes on a quick journey of web controls. Why web developers
    hate the ones that ship with the browser and what we can do about it.</p>
</div>