<div class="post-image">
    <img src="/static/images/posts/zouhir-chahoud/zouhir-chahoud.jpg" />
</div>
<div class="post-info">
    <h2 class="post-title roboto-black">scroll timeline</h2>
    <p class="post-date roboto-thin">Coming in June 2020</p>
    <p class="post-excerpt roboto">Want to animate something on your site and have a desire to reach for the window scroll
JS APIs. Zouhir Chahoud joins us to show us a new API that enables this with better performance and control enabling richer
end user experiences.</p>
</div>